.container {
    min-width: 350px;
    max-width: 500px;
    width: 90%;
    margin: 20px;
    color: whitesmoke;

    .description {
      margin-bottom: 20px;
    }

    .buttons {
      text-align: right;

      button {
          margin-left: 10px;
      }
    }
}    
